---
import Layout from '../../layouts/Layout.astro';
import { getPosts, type Post } from '../../utils/sanity';
import Hero from '../../components/Hero.astro';
import BlogCard from '../../components/BlogCard.astro';
import Pagination from '../../components/Pagination.astro';

export const prerender = false;
const posts = await getPosts();

const currentPage: number | null = +Astro.url.searchParams?.get('page')! || 1;
const postsPerPage: number = 4;
const totalPages: number = Math.ceil(posts.length / postsPerPage);
const pathname = new URL(Astro.request.url).pathname.split('/');
const firstPath = pathname[1];
const nextUrl: string | null = currentPage < totalPages ? firstPath + '?page=' + (currentPage + 1) : null
const prevUrl: string | null = currentPage > 1 ? firstPath + '?page=' + (currentPage - 1) : null
const postsForPage: Post[] = posts.slice((currentPage - 1) * postsPerPage, currentPage * postsPerPage)

---

<Layout
    title={'NurtureLume Blog'}
    description={'Learn information about finding childcare and being a childcare provider on our NurtureLume Blog!'}
    robots={false}
>
    <Hero
        header='Explore Our Childcare Knowledge Base'
        subHeader='Delivering a centralized platform to assist parents in their childcare discovery journey and equip providers with a simplified childcare management system.'
    />
    <main
        class='mb-10 flex w-full flex-col items-center justify-center space-y-16 px-4 md:px-10 lg:px-16 xl:px-24'
    >
        <section
            class='grid grid-cols-1 gap-y-10 w-full h-full justify-items-center lg:justify-items-stretch lg:grid-cols-2 lg:gap-x-10'
        >
            {
                postsForPage.map((post: Post) => {
                    return <BlogCard post={post} />;
                })
            }

        </section>
                    <Pagination
            prevUrl={prevUrl}
            nextUrl={nextUrl}
            currentPage={currentPage}
            firstUrl={`/${firstPath}`}
            pageLength={totalPages}
        />
    </main>
</Layout>
