---
import { urlFor } from '../utils/image';
import { formatDate } from '../utils/dateUtils';
import { getCategory, type Post } from '../utils/sanity';
import heroImage from '../assets/images/Blog-Hero.png';
import heroImageMobile from '../assets/images/Blog-Hero-SM.png';
import { Image } from 'astro:assets';
import CustomImage from './CustomImage.astro';

interface Props {
    post: Post;
}

const { post } = Astro.props satisfies Props;

const category = await getCategory(post.category._ref)
---

<article
    class='flex w-full max-w-[327px] flex-col items-center duration-200 hover:scale-105 space-y-6 justify-center shadow-md md:max-w-[327px]'
>
    <a class='' href=`/blog/${category?.slug?.current}/${post.slug.current}`>
        {
            post.cardImageMobile && post.cardImageDesktop ? (
                <div class='flex items-center justify-center'>
                    <CustomImage
                        mobileImgUrl={urlFor(post.cardImageMobile)?.url() ?? heroImage}
                        desktopImgUrl={urlFor(post.cardImageDesktop)?.url() ?? heroImageMobile}
                        imageSizes={[
                            [327, 303],
                            [380, 303],
                        ]}
                        alt=`${post.title} Post Image`
                        classList=''
                    />
                </div>
            ) : (
                    <CustomImage
                        mobileImgUrl={heroImage}
                        desktopImgUrl={heroImageMobile}
                        imageSizes={[
                            [327, 303],
                            [380, 303],
                        ]}
                        alt=`${post.title} Post Image`
                        classList=''
                    />
            )
        }
        <div class='p-4 flex flex-col w-full space-y-4'>
            <h2 class='text-lg text-brand-black font-bold'>{post.title}</h2>
            <p class='text-xl text-brand-black'>{post.description}</p>
            <p class='text-xl text-brand-gray'>{post._createdAt}</p>
        </div>
    </a>
</article>
