---
interface Props {
    icon: string;
    href: string;
    label: string;
    iconColor: string;
    bgColor: string;
}

const { icon, href, label, iconColor, bgColor } = Astro.props;
---

<a
    href={href}
    class=`flex items-center justify-center h-8 w-8 rounded-full ${bgColor} hover:opacity-50`
    aria-label={label}
>
    <span class=`${icon} h-6 w-6 ${iconColor}`></span>
</a>
