---
import CustomImage from './CustomImage.astro';

interface Props {
    projectName: string;
    projectSlug: string;
    projectCategory: string;
    projectImageMobileSrc: ImageMetadata;
    projectImageDesktopSrc: ImageMetadata;
    projectImageAlt: string;
}

const {projectName, projectSlug, projectCategory, projectImageMobileSrc, projectImageDesktopSrc, projectImageAlt} = Astro.props;
---

<a class=`relative group items-center justify-center flex flex-col text-white ${projectCategory}` href=`/projects/${projectSlug}`>
    <CustomImage
        mobileImgUrl={projectImageMobileSrc}
        desktopImgUrl={projectImageDesktopSrc}
        imageSizes={[
            [327, 448],
            [358, 448],
        ]}
        alt={projectImageAlt}
        classList='group-hover:blur-sm shadow-md shadow-brand-black transform transition-all duration-300'
    />
    <p class='hidden z-20 absolute bottom-6 left-6 text-xl text-start group-hover:block'>
        {projectName} {projectCategory}
    </p>
    <span
        class='hidden bg-brand-black bg-blend-luminosity bg-opacity-20 z-10 absolute w-full h-full transform transition-all duration-300 group-hover:block'
    ></span>
</a>
