---
import CustomImage from './CustomImage.astro';

interface Props {
    projectName: string;
    projectSlug: string;
    projectCategory: string;
    projectImageMobileSrc: ImageMetadata;
    projectImageDesktopSrc: ImageMetadata;
    projectImageAlt: string;
}

const {projectName, projectSlug, projectCategory, projectImageMobileSrc, projectImageDesktopSrc, projectImageAlt} = Astro.props;
---

<a class=`relative group items-center justify-center flex flex-col text-white ${projectCategory}` href=`/projects/${projectSlug}`>
    <CustomImage
        mobileImgUrl={projectImageMobileSrc}
        desktopImgUrl={projectImageDesktopSrc}
        imageSizes={[
            [327, 448],
            [358, 448],
        ]}
        alt={projectImageAlt}
        classList='group-hover:blur-sm blur-none shadow-md shadow-brand-black transform transition-all duration-300'
    />
    <p class='block opacity-0 z-20 absolute bottom-6 left-6 text-xl text-start transform transition-opacity duration-300 group-hover:opacity-100'>
        {projectName}
    </p>
    <span
        class='block bg-opacity-0 bg-brand-black bg-blend-luminosity z-10 absolute w-full h-full transform transition-all duration-300 group-hover:bg-opacity-20'
    ></span>
</a>
