---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import SEO from '../components/SEO.astro';
import '../styles/global.css';

interface Props {
    title: string;
    description: string;
    robots: boolean;
}

const { title, description, robots } = Astro.props;
---

<!doctype html>
<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='description' content='Astro description' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='generator' content={Astro.generator} />
        <SEO title={title} description={description} url={Astro.url} robots={robots} />
        <title>{title}</title>
    </head>
    <body class='h-svh'>
        <Navbar />
        <slot />
        <Footer />
    </body>
</html>
