---
import Layout from '../layouts/Layout.astro';
import heroImageSM from '../assets/images/Home-Hero-SM.png';
import heroImage from '../assets/images/home-hero.png';
import aboutUsImg1 from '../assets/images/about-us-section-image-1.png';
import aboutUsImg2 from '../assets/images/about-us-section-image-2.png';
import mobileSvgOverlay from '../assets/svg/mobile-home-hero-mask.svg?raw';
import arrowDownCircled from '../assets/svg/arrow-down-circled.svg?raw';
import residentialHomeSvg from '../assets/svg/residential-home-service.svg?raw';
import { getImage, Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import Icon from '../components/Icon.astro';
import ServiceCard from '../components/ServiceCard.astro';
import Carousel, {
    type CarouselImage,
    type ProjectSlide,
    type ReviewSlide,
} from '../components/Carousel';
import ContactForm from '../components/ContactForm.astro';

const projects = await getCollection('projects', ({ data }) => {
    return data.featured;
});

const filteredProjects = projects.slice(0, 3);

const reviews = await getCollection('reviews', ({ data }) => {
    return data.featured;
});

const filteredReviews = reviews.slice(0, 5);

let featuredProjectCarouselSlides: ProjectSlide[] = [];
let reviewCarouselSlides: ReviewSlide[] = [];

for (let i = 0; i < filteredProjects.length; i++) {
    let carouselProjectSlide: ProjectSlide = {} as ProjectSlide;
    let carouselMobileProjectImageObject: CarouselImage = {} as CarouselImage;
    let carouselDesktopProjectImageObject: CarouselImage = {} as CarouselImage;

    let featuredProjectMobileImage = await getImage({
        src: filteredProjects[i].data.cardImageMobile.image,
        height: 330,
        width: 327,
        format: 'webp',
    });

    carouselMobileProjectImageObject.image = featuredProjectMobileImage;
    carouselMobileProjectImageObject.alt = filteredProjects[i].data.cardImageMobile.alt;

    let featuredProjectDesktopImage = await getImage({
        src: filteredProjects[i].data.cardImageDesktop.image,
        height: 330,
        width: 360,
        format: 'webp',
    });

    carouselDesktopProjectImageObject.image = featuredProjectDesktopImage;
    carouselDesktopProjectImageObject.alt = filteredProjects[i].data.cardImageDesktop.alt;

    carouselProjectSlide.mobileImage = carouselMobileProjectImageObject;
    carouselProjectSlide.desktopImage = carouselDesktopProjectImageObject;
    carouselProjectSlide.href = filteredProjects[i].data.slug;

    featuredProjectCarouselSlides.push(carouselProjectSlide);
}

for (let i = 0; i < filteredReviews.length; i++) {
    let carouselReviewSlide: ReviewSlide = {} as ReviewSlide;
    let carouselReviewImageObject: CarouselImage = {} as CarouselImage;
    // console.log(reviews[i].data);
    let reviewMobileImage = await getImage({
        src: filteredReviews[i].data.reviewerImage.image,
        height: 125,
        width: 130,
        format: 'webp',
    });

    carouselReviewImageObject.image = reviewMobileImage;
    carouselReviewImageObject.alt = filteredReviews[0].data.reviewerImage.alt;

    carouselReviewSlide.reviewerName = filteredReviews[i].data.reviewerName;
    carouselReviewSlide.reviewerLocation = filteredReviews[i].data.reviewerLocation;
    carouselReviewSlide.reviewerImage = carouselReviewImageObject;
    carouselReviewSlide.review = filteredReviews[i].data.review;

    reviewCarouselSlides.push(carouselReviewSlide);
}
---

<Layout title='Landing - Construx' description='Build with Construx' robots={false}>
    <header class='relative mt-[6px]'>
        <!-- Mobile Hero Section --->
        <div class='absolute -top-[85px] z-20 *:w-screen md:hidden'>
            <Icon icon={mobileSvgOverlay} />
        </div>
        <div class='relative'>
            <Image
                class='block w-screen md:hidden'
                src={heroImageSM}
                alt='Home Page Mobile Hero Image'
                width='375'
                height='812'
                loading='eager'
            />
            <h1
                class='absolute bottom-5 z-20 pl-4 pr-20 text-start font-bold uppercase leading-[60px] tracking-wide text-white md:hidden'
            >
                building your future homes
            </h1>
        </div>
        <div class='absolute left-0 top-0 z-10 h-full w-full bg-black bg-opacity-40 md:hidden'>
        </div>
        <!-- Desktop Hero Section --->
        <div class='relative hidden md:block'>
            <div
                class="absolute -left-36 -top-[76px] bottom-0 right-0 z-20 bg-[url('../assets/svg/desktop-home-hero-mask.svg')] bg-repeat"
            >
            </div>
            <Image
                class='hidden max-h-[450px] w-screen md:block'
                src={heroImage}
                alt='Home Page Desktop Hero Image'
                width='1440'
                height='450'
                loading='eager'
            />
        </div>
        <div class='container hidden items-center justify-between py-20 md:flex'>
            <h1
                class='pr-20 text-start font-bold uppercase leading-[60px] tracking-wide text-black'
            >
                building your future homes
            </h1>
            <button aria-label='Arrow Down Button'>
                <Icon icon={arrowDownCircled} />
            </button>
        </div>
    </header>
    <main>
        <section class='bg-brand-green-primary'>
            <div
                class='container flex flex-col items-center justify-between space-y-10 py-9 text-white md:flex-row md:flex-wrap md:space-y-0'
            >
                <div
                    class='flex flex-col items-center justify-between space-y-10 font-bold md:w-[46%] md:flex-row md:space-y-0 lg:w-[42%] xl:w-[40%]'
                >
                    <div class='flex flex-col items-center justify-center space-y-1'>
                        <span
                            id='client-count'
                            class='text-4xl tracking-wide'
                            data-target-value='1050'>0</span
                        >
                        <span class='text-sm capitalize'>happy clients</span>
                    </div>
                    <div class='flex flex-col items-center justify-center space-y-1 text-2xl'>
                        <span id='yoe-count' class='text-4xl tracking-wide' data-target-value='25'
                            >0</span
                        >
                        <span class='text-sm font-bold capitalize'>years of experience</span>
                    </div>
                </div>
                <div
                    class='flex flex-col items-center justify-between space-y-10 font-bold md:w-[45%] md:flex-row md:space-y-0 lg:w-[42%] xl:w-[40%]'
                >
                    <div class='flex flex-col items-center justify-center space-y-1 text-2xl'>
                        <span
                            id='projects-count'
                            class='text-4xl tracking-wide'
                            data-target-value='350'>0</span
                        >
                        <span class='text-sm capitalize'>projects completed</span>
                    </div>
                    <div class='flex flex-col items-center justify-center space-y-1 text-2xl'>
                        <span
                            id='awards-count'
                            class='text-4xl tracking-wide'
                            data-target-value='15'>0</span
                        >
                        <span class='text-sm capitalize'>global awards</span>
                    </div>
                </div>
            </div>
        </section>
        <section id='services' class='container my-16 flex flex-col'>
            <div class='flex items-center justify-center lg:justify-between'>
                <h2 class='text-brand-green-primary'>Services We Offer</h2>
                <a
                    class='hidden items-center justify-center font-bold leading-loose lg:flex'
                    href='/services'
                    >Explore Our Services<span
                        class='icon-[carbon--arrow-right] ml-2 h-5 w-5 place-self-center text-black'
                    ></span>
                </a>
            </div>
            <div
                class='flex w-full flex-col items-center justify-between space-y-8 py-8 lg:flex-row lg:space-y-0'
            >
                <ServiceCard
                    icon={residentialHomeSvg}
                    service='build your home'
                    description='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod'
                />
                <ServiceCard
                    icon={residentialHomeSvg}
                    service='build your home'
                    description='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod'
                />
                <ServiceCard
                    icon={residentialHomeSvg}
                    service='build your home'
                    description='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod'
                />
            </div>
            <div class='mt-8 hidden w-full items-center justify-between lg:flex'>
                <ServiceCard
                    icon={residentialHomeSvg}
                    service='build your home'
                    description='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod'
                />
                <ServiceCard
                    icon={residentialHomeSvg}
                    service='build your home'
                    description='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod'
                />
                <ServiceCard
                    icon={residentialHomeSvg}
                    service='build your home'
                    description='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod'
                />
            </div>
            <a
                class='flex items-center justify-center place-self-end font-bold leading-loose lg:hidden'
                href='/services'
                >Explore Our Services<span
                    class='icon-[carbon--arrow-right] ml-2 h-5 w-5 place-self-center text-black'
                ></span>
            </a>
        </section>
        <section class='container mb-16'>
            <div class='flex items-center justify-center lg:justify-between'>
                <h2 class='text-brand-green-primary'>Featured Projects</h2>
                <a
                    class='hidden items-center justify-center font-bold leading-loose lg:flex'
                    href='/portfolio'
                    >Browse Our Portfolio<span
                        class='icon-[carbon--arrow-right] ml-2 h-5 w-5 place-self-center text-black'
                    ></span>
                </a>
            </div>
            <div class='mt-0 flex flex-col lg:hidden'>
                <Carousel
                    client:load
                    projectSlides={featuredProjectCarouselSlides}
                    paginationClass='.swiper-custom-pagination-projects'
                />
                <a
                    class='mt-8 flex items-center justify-center place-self-end font-bold leading-loose lg:hidden'
                    href='/portfolio'
                    >Browse Our Portfolio<span
                        class='icon-[carbon--arrow-right] ml-2 h-5 w-5 place-self-center text-black'
                    ></span>
                </a>
            </div>
            <div class='mt-8 hidden space-x-8 lg:flex'>
                {
                    featuredProjectCarouselSlides.map((project: ProjectSlide, index: number) => {
                        return (
                            <a href={project.href} aria-label={`Featured Project ${index} Link`}>
                                <img
                                    src={project.desktopImage.image.src}
                                    alt={project.desktopImage.alt}
                                    height={330}
                                    width={327}
                                    class='h-auto w-full'
                                />
                            </a>
                        );
                    })
                }
            </div>
        </section>
        <section class='mb-16 bg-brand-gray py-10'>
            <div class='container'>
                <h2 class='text-brand-green-primary lg:text-start'>Reviews From Clients</h2>
                <div class='mt-8'>
                    <Carousel
                        client:load
                        reviewSlides={reviewCarouselSlides}
                        paginationClass='.swiper-custom-pagination-reviews'
                    />
                </div>
            </div>
        </section>
        <section class='container mb-16'>
            <h2 class='text-brand-green-primary lg:ml-[274px] lg:pt-10'>About Us</h2>
            <div class='mt-4 flex md:mt-20 md:flex-col xl:flex-row'>
                <div class='hidden justify-center space-x-8 md:flex xl:w-2/3 xl:justify-normal'>
                    <Image
                        class='relative top-[-35px]'
                        src={aboutUsImg1}
                        alt='About Us Section Image 1'
                        height={327}
                        width={245}
                    />
                    <Image
                        src={aboutUsImg2}
                        alt='About Us Section Image 2'
                        height={327}
                        width={245}
                    />
                </div>
                <div class='xl:w-1/2'>
                    <h3 class='text-start text-3xl font-bold capitalize leading-loose'>
                        we are here for you
                    </h3>

                    <p class='text-start text-xl capitalize leading-[30px] text-zinc-800'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco la. enim ad minim veniam, quis nostrud
                        exercitation ullamco la.
                    </p>
                    <button class='primary-btn mt-10 w-[152px]'>
                        <div class='font-medium leading-normal tracking-tight'>Learn more</div>
                    </button>
                </div>
            </div>
        </section>
        <section class='mb-8 bg-brand-green-primary py-8 lg:mb-16 lg:bg-white'>
            <div class='container'>
                <ContactForm />
            </div>
        </section>
        <section class='mb-8 mt-8 lg:hidden'>
            <div class='flex flex-col items-center justify-center bg-white'>
                <div class='flex flex-col'>
                    <h3 class='mb-4 text-xl font-bold leading-[30px]'>Contact Information</h3>

                    <div class='mb-4 flex items-center space-x-6'>
                        <a
                            href='https://maps.google.com/?q=0000+Design+Drive+Denver+Colorado'
                            class=`flex items-center justify-center p-1.5 h-8 w-8 rounded-full bg-black hover:opacity-50`
                            aria-label='Construx Location Link'
                        >
                            <span class='icon-[ep--location] h-6 w-6 text-white'></span>
                        </a>
                        <div class='flex flex-col space-y-1'>
                            <span class='font-bold leading-[30px] text-[#303136]'
                                >Cnstrx Office</span
                            >
                            <span class='text-sm text-[#303136]'>000 Parkway Blg. 16</span>
                            <span class='text-sm text-[#303136]'>Colorado Springs, CO</span>
                        </div>
                    </div>
                    <div class='mb-4 flex items-center space-x-6'>
                        <a
                            href=`tel:000000000`
                            class=`flex items-center justify-center h-8 w-8 p-1.5 rounded-full bg-black hover:opacity-50`
                            aria-label='Construx Location Link'
                        >
                            <span class='icon-[mage--phone] h-6 w-6 text-white'></span>
                        </a>
                        <div class='flex flex-col space-y-1'>
                            <span class='font-bold leading-[30px] text-[#303136]'>Call Us</span>
                            <span class='text-sm text-[#303136]'>000-000-0000</span>
                        </div>
                    </div>
                    <div class='mb-4 flex items-center space-x-6'>
                        <a
                            href='mailto:mail@construx.construction'
                            class=`flex items-center justify-center p-1.5 h-8 w-8 rounded-full bg-black hover:opacity-50`
                            aria-label='Construx Location Link'
                        >
                            <span class='icon-[eva--email-outline] h-6 w-6 text-white'></span>
                        </a>
                        <div class='flex flex-col space-y-1'>
                            <span class='font-bold leading-[30px] text-[#303136]'>Mail Us</span>
                            <span class='text-sm text-[#303136]'>mail@construx.construction</span>
                        </div>
                    </div>
                    <div class='mb-4 flex items-center space-x-6'>
                        <a
                            href='https://maps.google.com/?q=0000+Design+Drive+Denver+Colorado'
                            class=`flex items-center justify-center p-1.5 h-8 w-8 rounded-full bg-black hover:opacity-50`
                            aria-label='Construx Location Link'
                        >
                            <span class='icon-[ri--building-4-line] h-6 w-6 text-white'></span>
                        </a>
                        <div class='flex flex-col space-y-1'>
                            <span class='font-bold leading-[30px] text-[#303136]'
                                >Opening Hours</span
                            >
                            <span class='text-sm text-[#303136]'>Mon-Fri: 8AM - 5PM</span>
                            <span class='text-sm text-[#303136]'>Sat-Sun: CLOSED</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src='../scripts/counter.ts'></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const arrowDownButton = document.querySelector<HTMLButtonElement>(
                'button[aria-label="Arrow Down Button"]',
            );
            const servicesSection = document.querySelector<HTMLDivElement>('#services');

            arrowDownButton?.addEventListener('click', () => {
                servicesSection?.scrollIntoView({ behavior: 'smooth' });
            });
        });
    </script>
</Layout>
