---
import Layout from '../layouts/Layout.astro';
import heroImageSM from '../assets/images/Home-Hero-SM.png';
import svgOverlay from '../assets/svg/mobile-home-hero-mask.svg?raw';
import residentialHomeSvg from '../assets/svg/residential-home-service.svg?raw';
import { getImage, Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import Icon from '../components/Icon.astro';
import ServiceCard from '../components/ServiceCard.astro';
import Carousel, { type CarouselImage, type ProjectSlide } from '../components/Carousel';

const projects = await getCollection('projects', ({ data }) => {
    return data.featured == true;
});

let featuredProjectCarouselSlides: ProjectSlide[] = [];

for (let i = 0; i < projects.length; i++) {
    let carouselProjectSlide: ProjectSlide = {} as ProjectSlide;
    let carouselMobileImageObject: CarouselImage = {} as CarouselImage;
    let carouselDesktopImageObject: CarouselImage = {} as CarouselImage;

    let featuredProjectMobileImage = await getImage({
        src: projects[i].data.cardImageMobile.image,
        height: 330,
        width: 327,
        format: 'webp',
    });

    carouselMobileImageObject.image = featuredProjectMobileImage;
    carouselMobileImageObject.alt = projects[i].data.cardImageMobile.alt;

    let featuredProjectDesktopImage = await getImage({
        src: projects[i].data.cardImageDesktop.image,
        height: 330,
        width: 360,
        format: 'webp',
    });

    carouselDesktopImageObject.image = featuredProjectDesktopImage;
    carouselDesktopImageObject.alt = projects[i].data.cardImageDesktop.alt;

    carouselProjectSlide.mobileImage = carouselMobileImageObject;
    carouselProjectSlide.desktopImage = carouselDesktopImageObject;
    carouselProjectSlide.href = projects[i].data.slug;

    featuredProjectCarouselSlides.push(carouselProjectSlide);
}
---

<Layout title='Landing - Construx' description='Build with Construx' robots={false}>
    <header class='relative'>
        <div class='absolute -top-[85px] z-20 *:w-screen md:hidden'>
            <Icon icon={svgOverlay} />
        </div>
        <div class='relative'>
            <Image
                class='block w-screen md:hidden'
                src={heroImageSM}
                alt='Home Page Mobile Hero Image'
                width='375'
                height='812'
                loading='eager'
            />
            <h1
                class='absolute bottom-5 z-20 pl-4 pr-20 text-start font-bold uppercase leading-[60px] tracking-wide text-white'
            >
                building your future homes
            </h1>
        </div>
        <div class='absolute left-0 top-0 z-10 h-full w-full bg-black bg-opacity-40'></div>
        <!-- Desktop Hero
        <Image
            class='absolute inset-0 hidden h-full w-full object-cover object-center md:block'
            src={heroBackgroundImgSrcList[1]}
            alt={alt}
            width='1440'
            height='1024'
            loading='eager'
        /> -->
    </header>
    <main class=''>
        <section class='bg-brand-orange'>
            <div class='container flex flex-wrap items-center justify-between py-9 text-white'>
                <div
                    class='flex flex-col items-center justify-between space-y-10 md:w-[45%] md:flex-row md:space-y-0 lg:w-[42%] xl:w-[40%]'
                >
                    <div class='flex flex-col items-center justify-center space-y-1'>
                        <span
                            id='client-count'
                            class='text-4xl tracking-wide'
                            data-target-value='1050'>0</span
                        >
                        <span class='text-sm capitalize'>happy clients</span>
                    </div>
                    <div class='flex flex-col items-center justify-center space-y-1 text-2xl'>
                        <span id='yoe-count' class='text-4xl tracking-wide' data-target-value='25'
                            >0</span
                        >
                        <span class='text-sm capitalize'>years of experience</span>
                    </div>
                </div>
                <div
                    class='flex flex-col items-center justify-between space-y-10 md:w-[45%] md:flex-row md:space-y-0 lg:w-[42%] xl:w-[40%]'
                >
                    <div class='flex flex-col items-center justify-center space-y-1 text-2xl'>
                        <span
                            id='projects-count'
                            class='text-4xl tracking-wide'
                            data-target-value='350'>0</span
                        >
                        <span class='text-sm capitalize'>projects completed</span>
                    </div>
                    <div class='flex flex-col items-center justify-center space-y-1 text-2xl'>
                        <span
                            id='awards-count'
                            class='text-4xl tracking-wide'
                            data-target-value='15'>0</span
                        >
                        <span class='text-sm capitalize'>global awards</span>
                    </div>
                </div>
            </div>
        </section>
        <section class='container my-16'>
            <h3 class='text-center font-bold'>Services We Offer</h3>
            <div class='auto-grid grid justify-items-center gap-x-4 gap-y-14 py-9'>
                <ServiceCard
                    icon={residentialHomeSvg}
                    service='build your home'
                    description='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco la'
                    href='/services/residential'
                />
                <ServiceCard
                    icon={residentialHomeSvg}
                    service='build your home'
                    description='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco la'
                    href='/services/residential'
                />
                <ServiceCard
                    icon={residentialHomeSvg}
                    service='build your home'
                    description='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco la'
                    href='/services/residential'
                />
                <ServiceCard
                    icon={residentialHomeSvg}
                    service='build your home'
                    description='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco la'
                    href='/services/residential'
                />
                <ServiceCard
                    icon={residentialHomeSvg}
                    service='build your home'
                    description='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco la'
                    href='/services/residential'
                />
            </div>
        </section>
        <section class='container mb-16'>
            <h3 class='text-center font-bold'>Featured Projects</h3>
            <Carousel client:load projectSlides={featuredProjectCarouselSlides} />
        </section>
        <section class='container mb-16'>
            <h3 class='text-center font-bold'>About Us</h3>
            <div class=''></div>
        </section>
    </main>
</Layout>

<script src='../scripts/counter.ts'></script>
