---
import Layout from '../layouts/Layout.astro';
import heroImageSM from '../assets/images/Home-Hero-SM.png';
import svgOverlay from '../assets/svg/mobile-home-hero-mask.svg?raw';
import { Image } from 'astro:assets';
import Icon from '../components/Icon.astro';
---

<Layout title='Landing - Construx' description='Build with Construx' robots={false}>
    <header class='relative'>
        <div class='absolute -top-[85px] z-20 *:w-screen md:hidden'>
            <Icon icon={svgOverlay} />
        </div>
        <div class='relative'>
            <Image
                class='block w-screen md:hidden'
                src={heroImageSM}
                alt='Home Page Mobile Hero Image'
                width='375'
                height='812'
                loading='eager'
            />
            <h1
                class='absolute bottom-5 z-20 pl-4 pr-20 text-start font-bold uppercase leading-[60px] tracking-wide text-white'
            >
                building your future homes
            </h1>
        </div>
        <div class='absolute left-0 top-0 z-10 h-full w-full bg-black bg-opacity-40'></div>
        <!-- Desktop Hero
        <Image
            class='absolute inset-0 hidden h-full w-full object-cover object-center md:block'
            src={heroBackgroundImgSrcList[1]}
            alt={alt}
            width='1440'
            height='1024'
            loading='eager'
        /> -->
    </header>
    <main class=''>
        <section class='bg-brand-orange container'>
            <div class='auto-grid grid gap-y-14 py-9 text-white'>
                <div class='flex flex-col items-center justify-center space-y-1'>
                    <span id='client-count' class='text-4xl tracking-wide' data-target-value='1050'
                        >0</span
                    >
                    <span class='text-sm capitalize'>happy clients</span>
                </div>
                <div class='flex flex-col items-center justify-center space-y-1 text-2xl'>
                    <span id='yoe-count' class='text-4xl tracking-wide' data-target-value='25'
                        >0</span
                    >
                    <span class='text-sm capitalize'>years of experience</span>
                </div>
                <div class='flex flex-col items-center justify-center space-y-1 text-2xl'>
                    <span id='projects-count' class='text-4xl tracking-wide' data-target-value='350'
                        >0</span
                    >
                    <span class='text-sm capitalize'>projects completed</span>
                </div>
                <div class='flex flex-col items-center justify-center space-y-1 text-2xl'>
                    <span id='awards-count' class='text-4xl tracking-wide' data-target-value='15'
                        >0</span
                    >
                    <span class='text-sm capitalize'>global awards</span>
                </div>
            </div>
        </section>
    </main>
</Layout>

<script src='../scripts/counter.ts'></script>
